# ================= FRONTEND =================
frontend/node_modules/
frontend/build/
frontend/dist/

# ================= BACKEND =================
DGClinic_backend/target/
DGClinic_backend/*.log

# ================= ENV FILES =================
.env
*.env
application.properties
application.yml

# ================= IDE =================
.idea/
.vscode/
*.iml

# ================= OS =================
.DS_Store
Thumbs.db
